{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
   <p>Utilisateur enregistré</p>
    <a href="{{ path('admin_members') }}">Retour à l'administration</a>
{% endblock fos_user_content %}
