{% extends 'front-office/bases/base.html.twig' %}

{% block content %}

    <h1>{{ page.title }}</h1>
    <p>{{ page.text }}</p>
    <div class="societe-action-box">
        <a href="#" class="societe-action">Rejoignez-nous !</a>
    </div>

{% endblock %}