{% extends 'front-office/bases/base3.html.twig' %}

{% block content %}

    <section class="base3-container">
        <h1 class="contact-h1">Contactez<span class="d-none d-md-inline-block">-</span><span
                    class="d-block d-md-inline">nous</span></h1>

        <div class="row mx-0">
            {% for portrait in portraits %}
                <div class="contact-person-box col-4">
                    <h2>{{ portrait.title }}</h2>
                    <p>{{ portrait.text|raw }}</p>
                </div>

            {% endfor %}
        </div>


       {# <div class="contact-person-box">
            <h2>Madame Nathalie ARZOINE, Directrice EYAL TELECOM</h2>
            <p>Numéro de téléphone : 06 50 31 58 08</p>
            <p>Courriel : m.eyaltelecom@yahoo.fr</p>
        </div>

        <div class="contact-person-box">
            <h2>Monsieur Gérald LAGARDERE, Directeur technique</h2>
        </div>#}

        <p class="contact-p my-5">Pour être recontacté ou nous posez vos questions, merci de remplir le formulaire
            suivant
            :</p>
        <div>
            {% for message in app.flashes('info') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>


        <form action="#" method="POST" class="contact-form">
            <div class="contact-form-box">
                <label for="name">Nom de la société*</label>
                <input type="text" placeholder="Ex : Eyal Telecom" id="name" name="name" required>
            </div>

            <div class="contact-form-box">
                <label for="activity">Activité</label>
                <input type="text" placeholder="Ex : téléphonie" id="activity" name="activity">
            </div>

            <div class="contact-form-box">
                <label for="address">Adresse postale</label>
                <input type="text" placeholder="Ex : 12 rue du puit - 33000 BORDEAUX" id="address" name="address">
            </div>

            <div class="contact-form-box">
                <label for="phone">Numéro de téléphone*</label>
                <input type="text" placeholder="Ex : 01 23 45 67 89" id="phone" name="phone" required>
            </div>

            <div class="contact-form-box">
                <label for="email">Courriel*</label>
                <input type="email" placeholder="Ex : contact@eyaltelecom.com" id="email" name="email" required>
            </div>

            <div class="contact-form-box">
                <label for="message">Votre demande</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>

            <p class="font-italic">Nous collectons ces données afin de vous adresser par courriel le devis que vous
                avez
                sollicité. Nous
                utilisons également votre adresse e-mail pour vous adresser des publicités et offres sur nos produits. Si vous ne souhaitez pas recevoir de telles sollicitations, cochez la case ci-dessous :</p>
            <div class="d-flex align-items-baseline">
                <input type="checkbox" id="solicitation" name="solicitation" class="mx-2">
                <label for="solicitation" class="font-italic">Je refuse que la société Eyal Telecom me propose par
                    courriel des produits
                    ou services.</label>
            </div>

            <div class="contact-form-submit-box my-4">
                <input type="submit" name="submit" value="Envoyer" class="contact-form-submit">
            </div>

        </form>
        <p>*champs requis</p>
    </section>


{% endblock %}