.category-section{
  overflow: hidden;
}


.category-text-box{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-img-box img{
  width: 100%;
  height: auto;
}

.category-text-box-color{
  background-color: $blue;
  color: white;
  p,h2{
    color: white;
  }
}

.category-h1{
  text-align: center;
  color: $grey;
  text-transform: uppercase;
  font-size: 2.2em;
}

.category-h2{
  font-size: 1.9em;
  color: $grey2;
  margin-top: 90px;
  margin-bottom: 50px;
}