.contact-container{
  width: 80%;
  margin: 50px auto;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 20px;
}

.contact-h1{
  text-align: center;
  color: $grey;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact-p{
  text-align: center;
  font-weight: bold;
}

.contact-person-box{
  width: 70%;
  margin: 10px auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;

  h2{
    color: $grey2;
    font-size: 1.5em;
  }
}

.contact-form{
  width: 50%;
  margin: 0 auto;
  .contact-form-box{
    display: flex;
    align-items: center;
    margin: 10px 0;

    label{
      width: 40%;
      text-align: right;
      padding-right: 20px;
      color: $grey2;
      font-weight: bold;
    }
    input, textarea{
      width: 60%;
      border-radius: 15px;
    }
    select{
      border:1px solid black;
    }
  }
}

.contact-form-submit-box{
  width: 100%;
  text-align: center;

  .contact-form-submit{
    background-color: $blue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 2% 20%;
  }

  .contact-form-submit:hover{
    background-color: white;
    color: $blue;
  }
}

.divider-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.half-divider{
  height: 2px;
  width: 30%;
  padding: 0 10px;
  background-color: black;
}