/************** EVERY PRODUCTS **************/

.products-filter{
  padding: 0.2% 3%;
  border: 1px solid $blue;
  border-radius: 5px;
  background-color: $blue;
  color: white;
}

.products-filter:hover{
  background-color: white;
  color: $blue;
}

.product-img-box{
  height: 350px;
  overflow: hidden;
  position: relative;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
}

.product-link-one{
  padding: 2%;
  background-color: $blue;
  color: white;
  border: white;
  border: $blue 1px solid;
  border-radius: 10px;
}

.product-link-one:hover{
  background-color: white;
  color: $blue;
}

/************** FIN - EVERY PRODUCTS **************/
