/************** EVERY PRODUCTS **************/

.products-filter{
  padding: 0.2% 3%;
  border: 1px solid $blue;
  border-radius: 5px;
  background-color: $blue;
  color: white;
}

.products-filter:hover{
  background-color: white;
  color: $blue;
}

#category{
  border:1px solid black;
}

.product-link-one{
  padding: 2%;
  background-color: $blue;
  color: white;
  border: white;
  border: $blue 1px solid;
  border-radius: 10px;
}

.product-link-one:hover{
  background-color: white;
  color: $blue;
}

/************** FIN - EVERY PRODUCTS **************/
