.service-header{
  height: 100vh;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  .service-nav-link{
    color: white;
    font-size: 1.2em;
  }
  .service-nav-link:hover{
    border-bottom: 1px solid white;
  }
}

.service-logo-box{
  height: 60px;
  img{
    height: 100%;
    width: auto;
  }
}

.service-thread{
  color: white;
  font-size: 0.8em;
}

.service-header-box{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 1.4em;

  .service-header-text{
    margin-bottom: 80px;
  }

  .service-action{
    border:1px solid white;
    padding: 2%;
    background-color: $blue;
    border-radius: 5px;
    color: white;
  }
  .service-action:hover{
    background-color: white;
    color: $blue;
  }
}


/********** FIN HEADER **********/


/********** MAIN **********/
.service-section-tools article{
  min-height: 100vh;

}

.service-main-img-outils{
  background-image: url('../img/outils0.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.service-main-img-propositions{
  background-image: url('../img/propositions0.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.service-main-img-gammes{
  background-image: url('../img/gammes0.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.service-main-text{
  background-color: $blue;
  min-height: 100vh;
}

.service-text-container{
  padding: 20px;
  color: white;
  h2{
    margin-bottom: 50px;
  }

  .service-link-container{
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }

  .service-link-action{
    border:1px solid $blue;
    padding: 2% 8%;
    background-color: white;
    border-radius: 10px;
    color: $blue;
    text-align: center;
    font-weight: bold;
  }

  .service-link-action:hover{
    border: 1px solid white;
    background-color: $blue;
    color: white;
  }
}


/********** FIN - MAIN **********/




/********** FOOTER **********/

.service-footer{
  background-color: grey;
  height: 8vh;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  a{
    color: white;
  }
}

