*{
  box-sizing: border-box;
}

li{
  list-style-type: none
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}


$blue: #17447D;
$grey: #4A4A4A;
$grey2: #454141;

