* {
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.back-base-header {
  height: 10vh;
  text-align: center;
  background-color: #205081;
  padding-top: 10px; }
  .back-base-header h1 {
    color: white; }

.back-aside-divider {
  height: 2px;
  width: 80%;
  background-color: white;
  margin: 20px auto; }

.back-aside {
  background-color: #333333;
  min-height: 90vh; }
  .back-aside nav ul {
    padding-left: 20px; }
  .back-aside nav a {
    color: white; }
  .back-aside nav a:before {
    content: "\21E8"; }
  .back-aside nav a:hover {
    text-decoration: underline; }
  .back-aside nav h2 {
    margin-top: 10px;
    color: white;
    text-align: center; }

.back-content {
  margin-top: 20px; }

/** SHOW CATEGORIES **/
.category-button-create {
  display: flex;
  justify-content: flex-end; }

.category-title {
  font-size: 1.5em;
  text-transform: uppercase; }

.category-button-update, .category-button-delete {
  color: black; }

.category-button-update:hover, .category-button-delete:hover {
  color: #205081;
  text-decoration: none; }

.categories-table {
  width: 100%; }

.category-name {
  font-size: 1.5em; }

.categories-table td {
  border: 1px solid black;
  padding: 10px; }

.category-button-box {
  text-align: center;
  width: 20%; }

.base-header, .base2-header, .base3-header, .home-header {
  min-height: 12vh;
  background-color: black;
  position: relative;
  padding: 5px 0; }
  .base-header a, .base2-header a, .base3-header a, .home-header a {
    color: white;
    font-size: 1.2em; }
  .base-header a:hover, .base2-header a:hover, .base3-header a:hover, .home-header a:hover {
    border-bottom: 1px solid white; }
  .base-header .base-logo-box > a:hover, .base2-header .base-logo-box > a:hover, .base3-header .base-logo-box > a:hover, .home-header .base-logo-box > a:hover {
    border: none; }
  .base-header .base-thread, .base2-header .base-thread, .base3-header .base-thread, .home-header .base-thread {
    position: absolute;
    top: 120%;
    left: 20px;
    color: white;
    z-index: 10;
    font-size: 0.7em; }

.base-main {
  min-height: 80vh; }

.base-img {
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh; }

.base-title-optionnal {
  position: absolute;
  width: 100%; }
  .base-title-optionnal h1 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase; }

.base-text-container .base-text-box {
  padding: 10px; }
  .base-text-container .base-text-box h1, .base-text-container .base-text-box p {
    margin: 50px 0; }
  .base-text-container .base-text-box h1 {
    color: #4A4A4A;
    text-transform: uppercase; }

.base-logo-box img {
  height: auto;
  width: 60%; }

.menu-divider {
  height: 2px;
  width: 80%;
  background-color: white;
  margin: 20px auto; }

.base-footer {
  background-color: black;
  height: 8vh;
  text-align: right;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end; }
  .base-footer a {
    color: white; }

/** MENU HIDDEN **/
.header-hidden-menu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100vh;
  background-color: #17447D;
  z-index: 99;
  color: white;
  padding: 10px; }
  .header-hidden-menu ul li {
    margin: 20px 0; }
    .header-hidden-menu ul li a {
      color: white;
      font-size: 1.2em; }

.header-hidden-close {
  font-size: 1.8em;
  color: white; }

/** FIN - MENU HIDDEN **/
/************************ BASE 2 ************************/
.base2-header {
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/************************ FIN  - BASE 2 ************************/
/************************ BASE 3 ************************/
.base3-body {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.base3-main {
  min-height: 70vh; }

.base3-container {
  width: 80%;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  position: relative; }
  .base3-container h1 {
    text-align: center; }

.base3-header {
  background-color: rgba(0, 0, 0, 0); }

.base3-quote-box {
  border: 2px solid white;
  border-radius: 10px;
  height: 50px;
  min-width: 100px;
  width: 20%;
  text-align: center;
  background-color: #17447D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto 50px; }
  .base3-quote-box a {
    color: white;
    font-size: 1.4em; }

.base3-quote-box:hover {
  background-color: white;
  border: 2px solid #17447D; }
  .base3-quote-box:hover a {
    color: #17447D; }

/************************ FIN - BASE 3 ************************/
.home-header {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0; }

.home-main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }

.home-video-box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }

.home-video-calc {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0; }

.home-center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  height: 40%;
  width: 30%;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10; }
  .home-center-container p {
    font-size: 1.2em; }
  .home-center-container a {
    padding: 2% 5%;
    background-color: #17447D;
    color: white;
    border: 1px solid #17447D;
    border-radius: 10px;
    text-transform: uppercase; }
  .home-center-container a:hover {
    background-color: white;
    color: #17447D; }

.home-left-container {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 10;
  text-align: right; }
  .home-left-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh; }
  .home-left-container li {
    font-size: 1.3em;
    position: relative; }
    .home-left-container li a {
      color: white;
      font-size: 1.2em;
      font-weight: bold; }
    .home-left-container li a:hover {
      color: #17447D; }
  .home-left-container li:after {
    content: url("../img/star.png");
    position: absolute;
    right: -50px; }
  .home-left-container li:nth-child(2), .home-left-container li:nth-child(4) {
    margin-right: 40px; }
  .home-left-container li:nth-child(3) {
    margin-right: 80px; }

.home-right-container {
  position: absolute;
  top: 10%;
  left: 70%;
  z-index: 10; }
  .home-right-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh; }
  .home-right-container li {
    font-size: 1.3em;
    position: relative; }
    .home-right-container li a {
      color: white;
      font-size: 1.2em;
      font-weight: bold; }
    .home-right-container li a:hover {
      color: #17447D; }
  .home-right-container li:before {
    content: url("../img/star.png");
    position: absolute;
    left: -40px; }
  .home-right-container li:nth-child(2), .home-right-container li:nth-child(4) {
    margin-left: 40px; }
  .home-right-container li:nth-child(3) {
    margin-left: 80px; }

.home-main-mobile-container {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 200px; }

.home-main-mobile {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 0 20px;
  color: #4A4A4A; }
  .home-main-mobile a {
    padding: 2% 5%;
    background-color: #17447D;
    border: 1px solid #17447D;
    border-radius: 20px;
    color: white; }
  .home-main-mobile a:hover {
    background-color: white;
    color: #17447D; }

.home-main-reasons {
  /*background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
  background-color: white; }

.home-main-reasons-text {
  padding: 50px 30px;
  text-align: center;
  color: white;
  color: #454141;
  font-size: 1.3em; }
  .home-main-reasons-text h1 {
    margin-bottom: 40px;
    text-transform: uppercase; }
  .home-main-reasons-text a button {
    color: white;
    margin: 40px 0;
    width: 300px;
    height: 60px;
    background-color: #17447D;
    border: 1px solid #17447D;
    border-radius: 10px;
    text-transform: uppercase; }
  .home-main-reasons-text a:hover button {
    background-color: white;
    color: #17447D; }

.home-main-team {
  padding: 30px 0 50px;
  background-color: #17447D; }
  .home-main-team h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    color: white; }

.home-main-team-card {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0; }

.home-main-team-img-box {
  border-radius: 20px;
  overflow: hidden; }

.home-main-team-text h2, .home-main-team-text p {
  text-align: center;
  margin: 20px 0; }

.service-header {
  height: 100vh;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative; }
  .service-header .service-nav-link {
    color: white;
    font-size: 1.2em; }
  .service-header .service-nav-link:hover {
    border-bottom: 1px solid white; }

.service-logo-box {
  height: 60px; }
  .service-logo-box img {
    height: 100%;
    width: auto; }

.service-thread {
  color: white;
  font-size: 0.8em; }

.service-header-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 1.4em; }
  .service-header-box .service-header-text {
    margin-bottom: 80px; }
  .service-header-box .service-action {
    border: 1px solid white;
    padding: 2%;
    background-color: #17447D;
    border-radius: 5px;
    color: white; }
  .service-header-box .service-action:hover {
    background-color: white;
    color: #17447D; }

/********** FIN HEADER **********/
/********** MAIN **********/
.service-section-tools article {
  min-height: 100vh; }

.service-main-img-outils {
  background-image: url("../img/outils0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.service-main-img-propositions {
  background-image: url("../img/propositions0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.service-main-img-gammes {
  background-image: url("../img/gammes0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.service-main-text {
  background-color: #17447D;
  min-height: 100vh; }

.service-text-container {
  padding: 20px;
  color: white; }
  .service-text-container h2 {
    margin-bottom: 50px; }
  .service-text-container .service-link-container {
    text-align: center;
    width: 100%;
    margin-top: 50px; }
  .service-text-container .service-link-action {
    border: 1px solid #17447D;
    padding: 2% 8%;
    background-color: white;
    border-radius: 10px;
    color: #17447D;
    text-align: center;
    font-weight: bold; }
  .service-text-container .service-link-action:hover {
    border: 1px solid white;
    background-color: #17447D;
    color: white; }

/********** FIN - MAIN **********/
/********** FOOTER **********/
.service-footer {
  background-color: grey;
  height: 8vh;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end; }
  .service-footer a {
    color: white; }

.about-container-society, .about-container-team {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.about-container-team {
  width: 100%; }
  .about-container-team h3, .about-container-team p {
    text-align: center; }

.societe-action-box {
  width: 100%;
  text-align: center; }

.societe-action {
  padding: 2% 3%;
  background-color: #17447D;
  border: 1px solid #17447D;
  border-radius: 15px;
  color: white; }

.societe-action:hover {
  background-color: white;
  color: #17447D; }

/************** EVERY PRODUCTS **************/
.products-filter {
  padding: 0.2% 3%;
  border: 1px solid #17447D;
  border-radius: 5px;
  background-color: #17447D;
  color: white; }

.products-filter:hover {
  background-color: white;
  color: #17447D; }

.product-img-box {
  height: 350px;
  overflow: hidden;
  position: relative; }
  .product-img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.product-link-one {
  padding: 2%;
  background-color: #17447D;
  color: white;
  border: white;
  border: #17447D 1px solid;
  border-radius: 10px; }

.product-link-one:hover {
  background-color: white;
  color: #17447D; }

/************** FIN - EVERY PRODUCTS **************/
.product-one-img-box {
  margin: 30px auto 0;
  width: 80%; }

.product-one-back {
  position: absolute;
  left: 10px;
  top: 10px; }

.product-one-back:hover {
  color: #17447D; }

.category-section {
  overflow: hidden; }

.category-text-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.category-text-box-color {
  background-color: #17447D;
  color: white; }
  .category-text-box-color p, .category-text-box-color h2 {
    color: white; }

.category-h1 {
  text-align: center;
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 2.2em; }

.category-h2 {
  font-size: 1.9em;
  color: #454141;
  margin-top: 90px;
  margin-bottom: 50px; }

.offers-container {
  min-height: 80vh;
  padding-top: 30px; }

.offers-h1 {
  text-align: center;
  color: white; }

.offer-box {
  margin: 5% 0; }

.offer-box-intern {
  border: 5px solid white;
  border-radius: 5%;
  padding: 20px 30px;
  background-color: #17447D;
  min-height: 500px; }
  .offer-box-intern p {
    color: white; }

.offer-title-box {
  background-color: white;
  border-radius: 25px;
  width: 80%;
  height: 150px;
  margin: 10px auto 30px;
  text-align: center;
  color: #4A4A4A;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.offers-action {
  text-align: center;
  margin: 2% 0 10%; }

.offers-button {
  background-color: #17447D;
  width: 30%;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.7em;
  font-weight: bold; }

.offers-button:hover {
  background-color: white;
  color: #17447D;
  border: 2px solid #17447D; }

.contact-h1 {
  text-align: center;
  color: #4A4A4A;
  text-transform: uppercase;
  margin-bottom: 20px; }

.contact-p, .contact-p-rubric {
  text-align: center;
  font-weight: bold; }

.contact-p-rubric {
  font-size: 1.3em;
  text-transform: uppercase; }

.contact-person-box {
  width: 70%;
  margin: 10px auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px; }
  .contact-person-box h2 {
    color: #454141;
    font-size: 1.4em; }

.contact-form {
  width: 50%;
  margin: 0 auto; }
  .contact-form .contact-form-box {
    display: flex;
    align-items: center;
    margin: 10px 0; }
    .contact-form .contact-form-box label {
      width: 40%;
      text-align: right;
      padding-right: 20px;
      color: #454141;
      font-weight: bold; }
    .contact-form .contact-form-box input, .contact-form .contact-form-box textarea {
      width: 60%;
      border-radius: 15px; }
    .contact-form .contact-form-box select {
      border: 1px solid black; }

.contact-form-submit-box {
  width: 100%;
  text-align: center; }
  .contact-form-submit-box .contact-form-submit {
    background-color: #17447D;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 2% 20%; }
  .contact-form-submit-box .contact-form-submit:hover {
    background-color: white;
    color: #17447D; }

.divider-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0; }

.membership-img-text h2 {
  font-size: 1em; }

@media screen and (max-width: 768px) {
  .contact-form {
    width: 100%;
    text-align: center; }

  .contact-form-box {
    display: block !important; }
    .contact-form-box label, .contact-form-box input, .contact-form-box textarea {
      width: 100% !important;
      text-align: center !important; }

  .base3-quote-box {
    width: 80%; } }

/*# sourceMappingURL=styles.css.map */
