* {
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.back-base-header {
  height: 10vh;
  text-align: center;
  background-color: #205081;
  padding-top: 10px; }
  .back-base-header h1 {
    color: white; }

.back-aside-divider {
  height: 2px;
  width: 80%;
  background-color: white;
  margin: 20px auto; }

.back-aside {
  background-color: #333333;
  height: 90vh; }
  .back-aside nav ul {
    padding-left: 20px; }
  .back-aside nav a {
    color: white; }
  .back-aside nav a:before {
    content: "\21E8"; }
  .back-aside nav a:hover {
    text-decoration: none;
    font-size: 1.1em; }
  .back-aside nav h2 {
    margin-top: 10px;
    color: white;
    text-align: center; }

.back-content {
  margin-top: 20px; }

/** SHOW CATEGORIES **/
.category-button-create {
  display: flex;
  justify-content: flex-end; }

.category-title {
  font-size: 1.5em; }

.category-button-update, .category-button-delete {
  color: black; }

.category-button-update:hover, .category-button-delete:hover {
  color: #205081;
  text-decoration: none; }

.categories-table {
  width: 100%; }

.category-name {
  font-size: 1.5em; }

.categories-table td {
  border: 1px solid black;
  padding: 10px; }

.category-button-box {
  text-align: center;
  width: 20%; }

.base-header {
  min-height: 12vh;
  background-color: black;
  position: relative; }
  .base-header a {
    color: white; }
  .base-header a:hover {
    font-size: 1.1em; }
  .base-header .base-thread {
    position: absolute;
    top: 120%;
    left: 20px;
    color: white;
    z-index: 10;
    font-size: 0.7em; }

.base-main {
  height: 80vh;
  overflow: scroll; }

.base-img {
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: fixed; }

.base-title-optionnal {
  position: absolute;
  width: 100%; }
  .base-title-optionnal h1 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase; }

.base-text-container {
  display: flex;
  align-items: center; }
  .base-text-container .base-text-box {
    padding: 10px; }
    .base-text-container .base-text-box h1, .base-text-container .base-text-box p {
      margin: 50px 0; }
    .base-text-container .base-text-box h1 {
      color: #4A4A4A;
      text-transform: uppercase; }

.base-logo-box {
  height: 60px; }
  .base-logo-box img {
    height: 100%;
    width: auto; }

.base-footer {
  background-color: black;
  height: 8vh;
  text-align: right;
  padding-top: 20px; }
  .base-footer a {
    color: white; }

/** MENU HIDDEN **/
.header-hidden-menu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100vh;
  background-color: #17447D;
  z-index: 99;
  color: white;
  padding: 10px; }
  .header-hidden-menu ul li {
    margin: 20px 0; }
    .header-hidden-menu ul li a {
      color: white;
      font-size: 1.2em; }

.header-hidden-close {
  font-size: 1.8em; }

/** FIN - MENU HIDDEN **/
.service-header {
  height: 100vh;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative; }
  .service-header .service-nav-link {
    color: white; }
  .service-header .service-nav-link:hover {
    font-size: 1.1em; }

.service-logo-box {
  height: 60px; }
  .service-logo-box img {
    height: 100%;
    width: auto; }

.service-thread {
  color: white;
  font-size: 0.8em; }

.service-header-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 1.4em; }
  .service-header-box .service-header-text {
    margin-bottom: 80px; }
  .service-header-box .service-action {
    border: 1px solid white;
    padding: 2%;
    background-color: #17447D;
    border-radius: 5px;
    color: white; }
  .service-header-box .service-action:hover {
    background-color: white;
    color: #17447D; }

/********** FIN HEADER **********/
/********** MAIN **********/
.service-section-tools article {
  min-height: 100vh; }

.service-main-img-outils {
  background-image: url("../img/outils0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.service-main-img-propositions {
  background-image: url("../img/propositions0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.service-main-img-gammes {
  background-image: url("../img/gammes0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.service-main-text {
  background-color: #17447D;
  min-height: 100vh; }

.service-text-container {
  padding: 20px;
  color: white; }
  .service-text-container h2 {
    margin-bottom: 50px; }
  .service-text-container .service-link-container {
    text-align: center;
    width: 100%;
    margin-top: 50px; }
  .service-text-container .service-link-action {
    border: 1px solid #17447D;
    padding: 2% 8%;
    background-color: white;
    border-radius: 10px;
    color: #17447D;
    text-align: center;
    font-weight: bold; }
  .service-text-container .service-link-action:hover {
    border: 1px solid white;
    background-color: #17447D;
    color: white; }

/********** FIN - MAIN **********/
/********** FOOTER **********/
.service-footer {
  background-color: grey;
  height: 8vh;
  text-align: right;
  padding-top: 20px; }
  .service-footer a {
    color: white; }

.societe-action-box {
  width: 100%;
  text-align: center; }

.societe-action {
  border: 1px solid white;
  padding: 2% 5%;
  background-color: #17447D;
  border-radius: 15px;
  color: white; }

/************** EVERY PRODUCTS **************/
.products-filter {
  padding: 0.2% 3%;
  border: 1px solid #17447D;
  border-radius: 5px;
  background-color: #17447D;
  color: white; }

.products-filter:hover {
  background-color: white;
  color: #17447D; }

#category {
  border: 1px solid black; }

/************** FIN - EVERY PRODUCTS **************/

/*# sourceMappingURL=styles.css.map */
