/** SHOW CATEGORIES **/
.category-button-create{
  display: flex;
  justify-content: flex-end;
}

.category-title{
  font-size: 1.5em;
  text-transform: uppercase;
}

.category-button-update, .category-button-delete{
  color: black;
}

.category-button-update:hover, .category-button-delete:hover{
  color: #205081;
  text-decoration: none;
}

.categories-table{
  width: 100%;
}

.category-name{
  font-size: 1.5em;
}

.categories-table td{
  border: 1px solid black;
  padding: 10px;
}

.category-button-box{
  text-align: center;
  width: 20%;
}
