{% extends 'back-office/base/base.html.twig' %}

{% block content %}
    <a href="{{ path('list_product') }}">Retour</a>
    <h1>Insertion d'un produit</h1>
    <p>Attention : image au format jpg ou png, < 3 Mo</p>

    {% for message in app.flashes('info') %}
        {{ message }}
    {% endfor %}
{{ form(product,{'attr':{'class':'my-5'}}) }}

{% endblock %}
