{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    <table class="categories-table">
        <tr>
            <th class="category-title">Liste des offres</th>
            <th class="category-button-create"><button><a href="{{ path('insert_tariff') }}">Créer une offre
                    </a></button></th>
        </tr>
        {% for tariff in tariffs %}
            <tr>
                <td rowspan="2" class="category-name">{{ tariff.title }}</td>
                <td class="category-button-box"><a href="{{ path('update_tariff',{'id':tariff.id}) }}" class="category-button-update">Modifier</a></td>
            </tr>
            <tr>
                <td class="category-button-box"><a href="#" onclick="confirmRemove('{{ path('delete_tariff',{'id':tariff.id}) }}')">Supprimer</a></td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}