{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    {% for message in app.flashes('info') %}
        <p>{{ message }}</p>
    {% endfor %}

<div class="my-4">
    <a href="{{ path('admin_members_update',{'id':user.id}) }}">Retour</a>
</div>

    <h1>Modification du mot de passe du compte {{ user.username }}</h1>

    <form action="#" method="POST">
        <label for="psw">Nouveau mot de passe</label>
        <div>
            <input type="password" name="psw" id="psw">
        </div>

        <label for="check">Saisissez de nouveau le mot de passe</label>
        <div>
            <input type="password" name="check" id="check">
        </div>

        <div>
            <input type="submit" name="submit" value="Modifier">
        </div>
    </form>

{% endblock %}