{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    {% for message in app.flashes('info') %}
        <p>{{ message }}</p>
    {% endfor %}

    <div class="my-4">
        <a href="{{ path('admin_members') }}">Retour</a>
    </div>

    <form action="#" method="POST">
        <label for="username">Nom de la société</label>
        <div>
            <input type="text" name="username" id="username">
        </div>

        <label for="mail">Adresse mail</label>
        <div>
            <input type="email" name="email">
        </div>

        <label for="password">Mot de passe</label>
        <div>
            <input type="password" name="password" id="password">
        </div>

        <label for="confirm">Confirmez le mot de passe</label>
        <div>
            <input type="password" name="confirm" id="confirm">
        </div>

        <input type="submit" name="submit">
    </form>

{% endblock %}