{% extends 'back-office/base/base.html.twig' %}

{% block content %}
    <a href="{{ path('text_home',{'id':context.id,'submit1':'Selectionner'}) }}">Retour</a>
    {% for message in app.flashes('info') %}
        {{ message }}
    {% endfor %}
    {{ form(form) }}
{% endblock %}